<a class="logo" href="/">
  <svg class="logo__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" aria-hidden="true" focusable="false">
    <rect width="32" height="32" rx="8" fill="#0b1320"/>
    <path fill="#fbd304" transform="translate(4 3)" d="M13.5 1.5 4.5 14.25h6L8.25 22.5 19.5 9.75h-6L13.5 1.5z"/>
  </svg>
  <span class="logo__wordmark">
    <span class="logo__prompt">{{ SITE_CONFIG.brand.name_prompt }}</span>
    <span class="logo__anatomy">{{ SITE_CONFIG.brand.name_anatomy }}</span>
  </span>
</a>
