<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@graph": [
    {
      "@type": "Organization",
      "@id": "{{ CANONICAL_SITEURL }}/#organization",
      "name": {{ SITE_CONFIG.brand.name|tojson }},
      "url": "{{ CANONICAL_SITEURL }}/",
      "logo": {
        "@type": "ImageObject",
        "url": "{{ CANONICAL_SITEURL }}/{{ THEME_STATIC_DIR }}/apple-touch-icon.png",
        "width": 180,
        "height": 180
      },
      "email": {{ SITE_CONFIG.organization.email|tojson }},
      "address": {
        "@type": "PostalAddress",
        "streetAddress": {{ SITE_CONFIG.organization.address.street|tojson }},
        "addressLocality": "Alameda",
        "addressRegion": "CA",
        "postalCode": "94501",
        "addressCountry": {{ SITE_CONFIG.organization.address.country|tojson }}
      },
      "sameAs": [
{%- set same_as = (SITE_CONFIG.social.links|map(attribute='href')|list) + [SITE_CONFIG.hub.site_url] -%}
{%- for url in same_as %}
        {{ url|tojson }}{% if not loop.last %},{% endif %}
{%- endfor %}
      ]
    },
    {
      "@type": "WebSite",
      "@id": "{{ CANONICAL_SITEURL }}/#website",
      "url": "{{ CANONICAL_SITEURL }}/",
      "name": {{ SITE_CONFIG.brand.name|tojson }},
      "inLanguage": "en-US",
      "publisher": { "@id": "{{ CANONICAL_SITEURL }}/#organization" }
    }
  ]
}
</script>
