{% if article %}

<script type="application/ld+json">

{

  "@context": "https://schema.org",

  "@type": "Article",

  "headline": {{ article.title|tojson }},

  "description": {{ (article.summary or '')|striptags|tojson }},

  "inLanguage": "en-US",

  "image": ["{{ CANONICAL_SITEURL }}/{% if article.slug in OG_ARTICLE_SLUGS %}images/articles/{{ article.slug }}/og.png{% else %}{{ article.hero_image or (THEME_STATIC_DIR ~ '/img/og-default.png') }}{% endif %}"],

  "datePublished": "{{ article.date.isoformat() }}",

  {% if article.modified %}

  "dateModified": "{{ article.modified.isoformat() }}",

  {% endif %}

  "author": {

    "@type": "Person",

    "name": {{ SITE_CONFIG.author.name|tojson }},

    "url": "{{ CANONICAL_SITEURL }}/about/",

    "sameAs": [
{%- for link in SITE_CONFIG.social.links %}
      {{ link.href|tojson }}{% if not loop.last %},{% endif %}
{%- endfor %}
    ]{% if AUTHOR_HAS_PHOTO and SITE_CONFIG.author.avatar %},

    "image": "{{ CANONICAL_SITEURL }}/{{ SITE_CONFIG.author.avatar }}"{% endif %}

  },

  "publisher": {

    "@id": "{{ CANONICAL_SITEURL }}/#organization"

  },

  "articleSection": {{ article.category.name|tojson }},

  {% if article.time_required %}
  "timeRequired": {{ article.time_required|tojson }},
  {% elif article.reading_time_minutes %}
  "timeRequired": {{ ('PT' ~ article.reading_time_minutes ~ 'M')|tojson }},
  {% endif %}

  "mainEntityOfPage": {

    "@type": "WebPage",

    "@id": "{{ CANONICAL_SITEURL }}/{{ article.url }}"

  }

}

</script>

{% endif %}

