<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [
    {
      "@type": "ListItem",
      "position": 1,
      "name": "Home",
      "item": "{{ SITEURL }}/"
    }
    {% if article %}
    ,{
      "@type": "ListItem",
      "position": 2,
      "name": {{ article.title|tojson }},
      "item": "{{ SITEURL }}/{{ article.url }}"
    }
    {% elif page %}
    ,{
      "@type": "ListItem",
      "position": 2,
      "name": {{ page.title|tojson }},
      "item": "{{ SITEURL }}/{{ page.url }}"
    }
    {% elif category %}
    ,{
      "@type": "ListItem",
      "position": 2,
      "name": {{ (category.name if category.name is defined else category)|tojson }},
      "item": "{{ SITEURL }}/{{ category.url }}"
    }
    {% endif %}
  ]
}
</script>
