{% if article %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Article",
  "headline": {{ article.title|tojson }},
  "description": {{ (article.summary or '')|tojson }},
  "image": ["{{ CANONICAL_SITEURL }}/{{ article.hero_image or (THEME_STATIC_DIR ~ '/img/og-default.png') }}"],
  "datePublished": "{{ article.date.isoformat() }}",
  {% if article.modified %}
  "dateModified": "{{ article.modified.isoformat() }}",
  {% endif %}
  "author": {
    "@type": "Person",
    "name": {{ SITE_CONFIG.author.name|tojson }}{% if SITE_CONFIG.author.linkedin or SITE_CONFIG.author.url %},
    "url": {{ (SITE_CONFIG.author.linkedin or SITE_CONFIG.author.url)|tojson }}{% endif %}
  },
  "publisher": {
    "@id": "{{ CANONICAL_SITEURL }}/#organization"
  },
  "articleSection": {{ article.category.name|tojson }},
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ CANONICAL_SITEURL }}/{{ article.url }}"
  }
}
</script>
{% endif %}
